<div>
    <h3>Lista de Filmes</h3>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="episode_id">
      <th mat-header-cell *matHeaderCellDef> Episode </th>
      <td mat-cell *matCellDef="let element"> {{element.episode_id}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>

    
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="producer">
        <th mat-header-cell *matHeaderCellDef> Producer </th>
        <td mat-cell *matCellDef="let element"> {{element.producer}} </td>
      </ng-container>

      
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="release_date">
        <th mat-header-cell *matHeaderCellDef> Release </th>
        <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
      </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/filme-detalhe/{{element.episode_id}}" selected>Detalhe</button></td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>